# Python cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/

# Environment
.env
venv/
env/

# Data & Model weights (không push lên github, chỉ để trên Kaggle)
*.csv
*.parquet
*.jsonl
*.pt
*.bin
*.safetensors
*.onnx
